[submodule ".vim/pack/git-plugins/start/gruvbox"]
	path = .vim/pack/git-plugins/start/gruvbox
	url = git@github.com:morhetz/gruvbox.git
[submodule ".vim/pack/git-plugins/start/vim-signify"]
	path = .vim/pack/git-plugins/start/vim-signify
	url = git@github.com:mhinz/vim-signify.git
[submodule ".vim/pack/git-plugins/start/vim-fugitive"]
	path = .vim/pack/git-plugins/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule ".vim/pack/git-plugins/start/vim-surround"]
	path = .vim/pack/git-plugins/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule ".vim/pack/git-plugins/start/vim-commentary"]
	path = .vim/pack/git-plugins/start/vim-commentary
	url = git@github.com:tpope/vim-commentary.git
