[user]
    email = rhysormond@gmail.com
    name = rhys
[color]
    ui = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    filemode = false
    pager = diffr | less -FRX
[diff]
    algorithm = patience
    compactionHeuristic = true
    tool = vimdiff
[difftool]
    prompt = false
[help]
    autocorrect = 1
[merge]
    tool = vimdiff
[push]
    default = simple
[alias]
    alias = "!git config --get-regexp '^alias.' | sed -e s/'^alias.'// -e s/' '/' = '/"
    cfg = "!git --git-dir=$HOME/.cfg/ --work-tree=$HOME"

    aa = add --all
    ap = add --patch
    br = branch
    ca = commit --amend --verbose
    cb = checkout -B
    ci = commit --verbose
    cm = commit --message
    co = checkout
    di = diff
    dt = difftool
    fa = fetch --all
    gr = log --all --decorate --oneline --graph
    lh = log -1
    lo = log
    sh = show
    st = status
