[user]
    email = rhysormond@gmail.com
    name = rhys
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    filemode = false
[push]
    default = simple
[pager]
    branch = false
[diff]
    tool = vimdiff
[merge]
    tool = vimdiff
[color]
    ui = true
[alias]
    cfg = "!git --git-dir=$HOME/.cfg/ --work-tree=$HOME"

    aa = add --all
    ap = add --patch
    br = branch
    ca = commit --amend
    cb = checkout -B
    ci = commit --verbose
    cm = commit --message
    co = checkout
    dh = diff HEAD~1
    di = diff
    fa = fetch --all
    gr = log --all --decorate --oneline --graph
    lh = log -1
    lo = log
    st = status
