[user]
    email = rhysormond@gmail.com
    name = rhys
[color]
    ui = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    filemode = false
    pager = diffr | less -FRX
[commit]
    verbose = true
[diff]
    algorithm = patience
    compactionHeuristic = true
    tool = vimdiff
[difftool]
    prompt = false
[help]
    autocorrect = 1
[merge]
    tool = vimdiff
[push]
    default = simple
[alias]
    alias = "!git config --get-regexp '^alias.' | sed -e s/'^alias.'// -e s/' '/' = '/"
    cfg = "!git --git-dir=$HOME/.cfg/ --work-tree=$HOME"
    run = "!f() { set -e && git rev-list --reverse $1 | while read r; do git co $r; $2; done; }; f"
    tmp = "!f() { git co $1 && read && git st && git co master && git br -D $1; }; f"
    wip = "!git aa && if [[ $(git lh) == "wip" ]]; then git cx "wip"; else git cm "wip"; fi"

    aa = add --all
    ap = add --patch
    br = branch
    bd = branch -D
    ca = commit --amend
    cb = checkout -B
    ci = commit
    cm = commit --message
    cx = commit --amend --message
    co = checkout
    di = diff
    dt = difftool
    fa = fetch --all
    gr = log --all --decorate --oneline --graph
    lg = log
    lh = log --pretty=format:%s -1
    sh = show
    st = status
