" source normal vimrc
source ~/.vimrc

" JetBrains commands
set surround " enable TPope surround plugin
set ideajoin " use IDE joining logic
nnoremap <leader>s :action Find<cr>
nnoremap <leader>f :action GotoFile<cr>
nnoremap <leader>b :action RecentFiles<cr>
