! global
*.font: Fira Sans 14

! hidpi display
Xft.dpi: 192

! typeface
Xft.antialias: 1
Xft.autohint:  0
Xft.hinting:   1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcdfull
Xft.rgba:      rgb

#define black         #282828
#define gray          #504945
#define light_gray    #a89984
#define white         #ebdbb2
#define red           #cc241d
#define light_red     #fb4934
#define green         #98971a
#define light_green   #b8bb26
#define yellow        #d79921
#define light_yellow  #fabd2f
#define blue          #458588
#define light_blue    #83a598
#define magenta       #b16286
#define light_magenta #d3869b
#define cyan          #689d6a
#define light_cyan    #8ec07c

*background: black
*foreground: white

*color0:  black
*color1:  red
*color2:  green
*color3:  yellow
*color4:  blue
*color5:  magenta
*color6:  cyan
*color7:  gray
*color8:  light_gray
*color9:  light_red
*color10: light_green
*color11: light_yellow
*color12: light_blue
*color13: light_magenta
*color14: light_cyan
*color15: white
