[Desktop Entry]
Encoding=UTF-8
Name=remap
Comment=Remap caps to ctrl, esc to tilde, and tap ctrl to esc
Exec=remap
Type=Application
StartupNotify=false
Terminal=false
Hidden=false

