configuration {
    cycle: true;
    hide-scrollbar: true;
}

* {
    background-color: #282828;
    border-color: #808080;
    font: "Fira Code 14";
    text-color: #eeeeee;
}

element selected {
    text-color: #ffc24b;
}

#inputbar {
    children: [ textbox-prompt-colon, entry ];
}

#textbox-prompt-colon {
    expand: false;
    str: "~ > ";
    text-color: #c9d05c;
}

window {
    border: 1px;
    height: 50%;
    padding: 10;
    width: 20%;
}

