@import "shared.rasi"
* {
  background-color: @background;
  text-color: @foreground;
  font: @icon-font;
}

#window {
  children: [ horibox ];
  padding: 40% 23%;
}

#horibox {
  children: [ listview ];
}

#listview {
  layout: horizontal;
}

#element {
  padding: @option-element-padding;
}

#element.selected {
  background-color: @accent;
  text-color: @background;
}

