@import "colors.rasi"
@import "layout.rasi"
* {
  text-font:                            "Fira Sans 14";
  text-font-mono:                       "Fira Code 14";
  icon-font:                            "Fira Code 60";
  icon-font-small:                      "Fira Code 24";
}

#window {
  width: 100%;
  height: 100%;
}
