@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide min/max/close buttons */

#window-controls {
  visibility: hidden !important;
}


/* Auto hide the nav bar */

#nav-bar {
  transition: margin-top 0.1s 0.1s ease-out !important;
  margin-top: -1.8em;
}

#nav-bar:focus-within,
#nav-bar:hover {
  margin-top: 0;
}


/* Move tab bar to the bottom of the window */

#TabsToolbar {
  position: fixed;
  bottom: 0;
}

#appcontent {
  margin-bottom: 2em !important;
}


/* Increase tab width */

.tabbrowser-tab:not([pinned]) {
  width: 15em !important;
  min-width: 5em !important;
}
