@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Align tab bar to the bottom of the screen */

#TabsToolbar {
	position: fixed;
	bottom: -0.5em;
	width: 100%;
}

#TabsToolbar:not([inFullscreen="true"]) {
	bottom: 0em;
}


/* Move bottom box above tab bar */

#browser-bottombox {
	height: 30px;
}

.browserContainer>statuspanel {
	left: 4px !important;
	bottom: 0px;
	transition-duration: 0s !important;
	transition-delay: 0s !important;
}

.browserContainer>statuspanel>.statuspanel-inner>.statuspanel-label {
	margin-left: 0px !important;
	padding: 0px !important;
}

window[inFullscreen="true"] #browser-bottombox {
	display: none !important;
}

window[inFullscreen="true"] .browserContainer>statuspanel[type="overLink"] .statuspanel-label {
	display: none !important;
}


/* Auto hide url bar */

#nav-bar {
	position: fixed !important;
	width: 100vw;
	opacity: 0
}

#nav-bar-customization-target {
	width: calc(100vw - 30px)
}

#nav-bar[overflowing]>#nav-bar-customization-target {
	width: calc(100vw - 60px)
}

#PanelUI-button,
#nav-bar-overflow-button {
	transform: translateY(2px)
}

#PanelUI-button {
	float: right
}

#nav-bar:-moz-any(:hover, :focus-within) {
	opacity: 1;
}

#PopupAutoCompleteRichResult {
	margin-top: -332px;
	margin-left: 10px;
	height: 300px;
}

#PopupAutoCompleteRichResult .autocomplete-richlistbox>scrollbox {
	overflow-y: auto !important;
}

#sidebar-splitter {
	margin-bottom: 33px;
}
