@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* move header bars below content */
#navigator-toolbox { -moz-box-ordinal-group: 10; }

/* move search completion above nav bar */
#PopupAutoCompleteRichResult { margin-top: -30vh; }

/* hide buttons **/
:root:not([customizing]) #nav-bar toolbarbutton {
    margin-left: -30px !important;
    opacity: 0 !important;
    pointer-events: none !important;
    transition: all 100ms var(--animation-easing-function) !important;
}

/* show on hover or focus */
:root:not([customizing]) :hover > #nav-bar toolbarbutton,
:root:not([customizing]) #navigator-toolbox:focus-within #nav-bar toolbarbutton,
:root:not([customizing]) :hover > #titlebar toolbarbutton {
    margin-left: 0 !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

/* don't hide tab buttons */
:root:not([customizing]) :hover > #titlebar #TabsToolbar toolbarbutton {
    margin-left: 0px !important;
    opacity: 1 !important;
    pointer-events: auto !important;
}

/* hide controls on urlbar focus */
:root:not([customizing]) #navigator-toolbox #nav-bar #urlbar-container:focus-within {
    width: 100% !important;
    left: 0 !important;
}

:root:not([customizing]) #navigator-toolbox #nav-bar #urlbar-container:focus-within #urlbar {
    width: 100% !important;
}

/* move tabs 35% to the right */
#TabsToolbar {
    margin-left: 35vw !important;
    min-height: 30px !important;
}

/* move navigation 65% to left and negative margin to move to top line */
#nav-bar {
    margin-right: 65vw !important;
    margin-top: -29px !important;
    background: transparent !important;
    z-index: 2;
    min-height: 29px !important;
}
#urlbar {
    border: 0px solid transparent !important;
    border-radius: 0 !important;
    margin: 0 1px 0 0 !important;
    min-height: 28px !important;
}

@media (max-width: 1200px) {
    /* move tabs 0.1% farther to the right */
    #TabsToolbar {
        margin-left: 35.1vw !important;
    }

    /* full size url bar on small screen if url bar is focused */
    #navigator-toolbox #nav-bar:focus-within {
        margin-right: 0vw !important;
        z-index: 2 !important;
        background-color: #282828 !important;
        background-image: var(--lwt-header-image) !important;
        background-position: right top !important;
        background-repeat: no-repeat !important;
        background-size: auto auto !important;
    }

    /* buttons leave hidden on hover */
    :root:not([customizing]) :hover > #nav-bar toolbarbutton,
    :root:not([customizing]) :hover > #titlebar toolbarbutton {
        margin-left: -30px !important;
        opacity: 0 !important;
        pointer-events: none !important;
    }

    /* do not hide buttons on urlbar focus */
    :root:not([customizing]) #navigator-toolbox #nav-bar #urlbar-container:focus-within {
        position: static !important;
        width: auto !important;
    }

    /* hide shadow over url bar */
    .tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-start-indicator:not([collapsed]),
    .tabbrowser-arrowscrollbox > .arrowscrollbox-overflow-end-indicator:not([collapsed]) {
        background-image: none !important;
    }
}

